/* ВАЖНО - В данном файле все классы должны быть с припиской _custom */
/* 
#content > div.only_img > img{
    border-radius: 35px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
} */

.two_img_custom {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 720px){
    .two_img_custom{
        flex-direction: column;
    }
    
    .two_img_custom > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.ul_custom {
    margin-left: 50px;
}

.two_img_custom img {
    width: 80%;
}

